<div class="col lg-18 col lg-offset-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Disfruta de las publicaciones con tus amigos y comparte tu día :)</p>
        <a href="https://icon-library.net/icon/like-icon-facebook-13.html" title="Like Icon Facebook #422990"><img
                src="https://icon-library.net//images/like-icon-facebook/like-icon-facebook-13.jpg" width="350" /></a>
        <!--<p>❤️🤣😆😥😤😡</p>-->
        <p>
            <a href="/perfil/identity._id" class="btn btn-success btn-lg separation-right" role="button">
                Ver mi perfil
            </a>
            <a [routerLink]="['/timeline']" [routerLinkActive]="[active]" class="btn btn-primary btn-lg separation-right" role="button">
                Publicaciones
            </a>
            <!--<a href="#" class="btn btn-success btn-lg" role="button">-->
            <a [routerLink]="['/gente']" [routerLinkActive]="[active]" class="btn btn-success btn-lg col-btn" role="button">
                Personas
            </a>
        </p>
    </div>
</div>